[Unit]
Description=rtp2webrtc  Low latency WebRTC server for broadcasting RTP streams 
After=network.target

[Service]
Environment=RTP2WEBRTC_CONFIG_FILE_PATH=/etc/rtp2webrtc/config.yaml
ExecStart=/usr/bin/rtp2webrtc
ExecStop=/bin/kill -9 $MAINPID
ProtectSystem=strict
PrivateDevices=true
PrivateTmp=true
ProtectKernelLogs=true
ProtectProc=invisible
PrivateUsers=true
ProtectHome=true
UMask=0077
RestrictNamespaces=true
LockPersonality=true
NoNewPrivileges=true
ProtectKernelModules=true
SystemCallArchitectures=native
ProtectHostname=true
RestrictAddressFamilies=AF_INET AF_INET6 AF_NETLINK
RestrictRealtime=true
ProtectControlGroups=true
ProtectKernelTunables=true
RestrictSUIDSGID=true
ProtectClock=true
RemoveIPC=true
CapabilityBoundingSet=
SystemCallFilter=@system-service
SystemCallFilter=~@privileged

[Install]
WantedBy=multi-user.target